
*background-image: shadow 
}

header {
    background-color: lightgrey;
    border: 3px solid white;
    border-radius: 5px
    display: flex;
}

header nav {
    box-align: right;
}

.Header1 {
    border: 1px solid grey;
    padding: 0px 0px;
    position: center-align;
    text align: right;
    width: 100%
    display: flex;
    text-align:justify

}

div.card {

} 
    background-color: red;
    }

#About-Me {
    background-color: teal;
    padding: initial;
    display: flex;
    text-align: center;
    color: white;

}

}

#My-Work {
    background-color: teal;
    padding: initial;
    display:flex
    text-align: justify;
    color: black;
    Margin: 7px 0px;
}



#My-Contact-Info, p {
    text-align: center; 
}
